<?xml version="1.0" encoding="utf-8"?>
<BasicSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<debugMode enable="true">
		<logger enable="true"><![CDATA[c:\test\logs\log.txt]]></logger>
	</debugMode>
	<showSettings>false</showSettings>
	<standbyTime>0</standbyTime>
	<showMouse>true</showMouse>
	<targetFramerate>60</targetFramerate>
	<resolution>
		<x>1920</x>
		<y>1080</y>
	</resolution>
	<window enable="false" delayed="0">
		<frame>
			<x>0</x>
			<y>0</y>
			<width>1024</width>
			<height>768</height>
			<topMost>false</topMost>
			<popupWindow>false</popupWindow>
		</frame>
		<singleInstance>false</singleInstance>
		<runInBackground>false</runInBackground>
		<deleteScreenValuesInRegistry>false</deleteScreenValuesInRegistry>
	</window>
</BasicSettings>